.yellow{
  background-color: yellow;
  left: 10%;
  -webkit-animation: fly-balloon 12s infinite ease-in forwards;
          animation: fly-balloon 12s infinite ease-in forwards;
}
.red{
  background-color: red;
  left: 50%;
  -webkit-animation: fly-balloon 7s infinite ease-in forwards;
          animation: fly-balloon 7s infinite ease-in forwards;

}
.blue{
  background-color: blue;
  left: 80%;
  -webkit-animation: fly-balloon 18s infinite ease-in forwards;
          animation: fly-balloon 18s infinite ease-in forwards;

}
.complementary-color1{
  color: #54a2b0;
}
.complementary-color2{
  color: #5483b0;
}
.btn-primary{
  background-color: #b06254;
}
header.masthead {
  background-image: url("../img/landing.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.menu-text{
  vertical-align: bottom;
  position: absolute;
  text-align: center;
  font-size: .3em;
  color: white;
  font-weight: bold;
}
.menu-up{

  top: 0px;
}
.menu-down{
  position: absolute;
  bottom: 50%;
  left:5%;
  color: #fff;
  text-transform: none;

}
.bottom-down{
  position: fixed;
  bottom: 0px;
  font-size: .9em;
  color: white;
  text-align: center;
}
.bottom-down a{
  text-decoration: underline;
  color: white;
}

.menu-white{
  color: white;
  text-decoration: none;
}
.menu-icon{
  height: 24px;
  vertical-align: bottom;
}
.navbar-expand-sm{
  height: 32px;
}

footer h5{
  font-size:0.8em;
}

.balloon {
  position:absolute;
  bottom: -35%;
  opacity: .9;
  border-radius: 50%;
  width: 18px;
  height: 25px;
  cursor: crosshair;
  z-index: 2;
}
.balloon:after {
    position: relative;
    background: inherit;
    top: 18px;
    left: 8px;
    display: block;
    content: '';
    height: .6rem;
    width: .2rem;
    border-radius: 100%;
}
@-webkit-keyframes fly-balloon {
    0% { bottom: -15%;
        opacity: 0%;
        -webkit-transform: translateX(0) rotate(8deg);
    }
    20% { -webkit-transform: rotate(4deg);
          opacity: 70%; }
    50% { -webkit-transform: translateX( 5px)  rotate(-12deg);
          opacity: 100%; }
    75% { -webkit-transform: translateX(-2px) rotate(10deg); }
    100% { bottom: 160%;
        -webkit-transform: rotate(-8deg);
    }
}
@keyframes fly-balloon {
  0% { bottom: 1%;
      opacity: 40%;
      -webkit-transform: translateX(0) rotate(8deg);
  }
  20% { -webkit-transform: rotate(4deg);
        opacity: 70%; }
  50% { -webkit-transform: translateX( 5px)  rotate(-12deg);
        opacity: 100%; }
  75% { -webkit-transform: translateX(-2px) rotate(10deg); }
  100% { bottom: 160%;
      -webkit-transform: rotate(-8deg);
  }



@media (max-width: 767px) {
  /* CSS goes here */

  header.masthead {
    background-image: url("../img/landing-sm2.jpg");
    background-repeat: no-repeat;

  }
}
